body {
    /*background-color: burlywood;*/
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}
h1, h2, p {
    text-align: center;
}

.menu {
    /*change the width from 300px to 80% which
    means 80% of the parent element  */
    /*width: 300px;*/
    width: 80%;
    background-color: burlywood;
    margin: 0 auto;
}

.flavor {
    text-align: left;
}