body {
    /*background-color: burlywood;*/
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
}

h1, h2, p {
    text-align: center;
}

/*Adding a fallback font 'serif' */
h1, h2 {
    font-family: 'Impact', serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}

.established {
    font-style: italic;
}

.menu {
    /*change the width from 300px to 80% which
    means 80% of the parent element  */
    /*width: 300px;*/
    width: 80%;
    background-color: burlywood;
    margin: 0 auto;
    /*padding: 0 20px 0 20px;*/
    padding: 20px;
    max-width: 500px;
}

.flavor, .dessert {
    text-align: left;
    /*change the below width to 50%
    to pass the 41st challenge*/
    /* change the below width value to 75%
    to pass the 45th challenge */
    width: 49%;
}

.price {
    text-align: right;
    /* change the below width to 50%
    to pass the 41st challenge */
    /* change the below width value to 25%
    to pass the 45th challenge */
    width: 49%;
}

/*keep both flavor and price on the same line and by default they
lie on different lines as they are block level elements*/
.item p {
    display: inline-block;
    margin: 5px 0 5px 0;
}